
<table class="table">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Matricule</th>
            <th>Nbr Portes</th>
            <th>Nbr Places</th>
            <th>Couleur</th>
            <th>Photo</th>
            <th>Marque</th>
            <th>Locations</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var v in ViewBag.voitureNAss)
        {
            <tr>
                <td>@v.Voiture.IdVoiture</td>
                <td>@v.Voiture.Matricule</td>
                <td>@v.Voiture.Nbr_portes</td>
                <td>@v.Voiture.Nbr_places</td>
                <td>@v.Voiture.Couleur</td>
                <td><img src="~/img/@v.Voiture.Photo_1" width="100" height="100" /></td>
                <td>@v.Voiture.Marque.Libelle</td>

                <td>

                    <ul>


                        @foreach (Location l in v.Voiture.Locations)
                        {
                            <span>La date Debut est :</span>
                            <li>@l.Date_debut </li>
                            <span>La Date Fin est :</span>
                            <li>@l.Date_fin</li>



                        }
                        <span>total de locations est : </span>
                        <li>@v.totalLocation</li>

                    </ul>
                </td>
               
             </tr>

        }
       
    </tbody>
</table>